@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-image: url(/images/matrixpokerbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  height: 632px;
  width: 632px;
  display: flex;
  flex-wrap: wrap;
}

.game-grid div {
  height: 75px;
  width: 75px;
  margin-right: 4px;
  margin-bottom: 4px;
  background-size: cover;
  text-align: center;
  line-height: 75px;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  font-family: "Fredoka One", cursive;
}

.game-grid div:active,
.game-grid div:focus {
  cursor: grab !important;
}

.invisible {
  opacity: 0;
}

.score-board {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 632px;
  width: 250px;
  background-color: rgba(225, 216, 207, 0.4);
  border-radius: 10px;
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
}

.game-title {
  font-family: "Fredoka One";
  font-size: 35px;
}

.game-round {
  position: relative;
}

.round-goal {
  width: 100%;
  text-align: center;
}

.game-score {
  position: relative;
}
.game-score::before {
  content: "Game Score";
  position: absolute;
  width: 10rem;
  top: -30px;
}
.round-score {
  position: relative;
}

.round-score::before {
  content: "Round Score";
  position: absolute;
  width: 11rem;
  top: -30px;
}

.new-deck {
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(133, 20, 20);
  background-color: rgb(53, 135, 53);
  border-radius: 10px;
}

.game-marquee {
  width: 100%;
  overflow: hidden;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: marqueeScroll 7s linear infinite;
}

.marquee-content li {
  white-space: nowrap;
  margin-right: 20px;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(140%);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}

.game-modal {
  position: fixed;
  height: 632px;
  width: 900px;
  border-radius: 10px;
  background-color: rgba(242, 222, 186, 0.8);
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: green;
}

.modal-title {
  font-size: 50px;
}
.game-modal ul {
  list-style: none;
  font-size: 25px;
}

.game-modal ul li {
  margin-bottom: 15px;
}

.game-button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  font-family: "Press Start 2P";
  background-color: green;
  color: brown;
  cursor: pointer;
}

.modal-display h2 {
  text-align: center;
}
